.add-button{
    width: 100%;
    background-color: #ff6c18;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.7rem;
    border-radius: 10px;
    border: none;
    padding: 15px 10px;
}
.add-button:hover{
    background-color: #ff6c18;
}
input{
    text-align: center;
    width: 50%;
    height: 100%;
    border:none;
    background-color: #F5F5F5;
}